//Colors
$primary: linear-gradient(180deg, rgba(33, 61, 79, 0.94) 0%, #062539 100%);

//Background colors
$bg-blueberry: #4285f4;
$bg-white: #ffffff;
$bg-gray: #eeeff3;
$bg-tiffany-blue: #0ac0a6;
$bg-ghost-white: #f6f7fc;

//text-color
$text-white: #ffffff;
$text-navy: #062539;
$text-gray: #acaeba;

//text-size
$text-tiny: 12px;
$text-small: 14px;
$text-medium: 16px;
$text-large: 18px;
$text-extra-large: 22px;

//box-shadow
$default-shadow: 0px 4px 53px rgba(0, 0, 0, 0.1);

//Border Radius
$default-radius: 10px;
